Source: slurm-wlm-contrib
Section: contrib/admin
Priority: optional
Maintainer: Gennaro Oliva <oliva@debian.org>
Build-Depends: dpkg-dev (>= 1.22.5),
 debhelper (>= 13),
 libmunge-dev,
 libncurses-dev,
 po-debconf,
 python3,
 libgtk2.0-dev,
 default-libmysqlclient-dev,
 libpam0g-dev,
 libperl-dev,
 chrpath,
 libpam0g-dev,
 liblua5.1-0-dev,
 libhwloc-dev,
 dh-exec,
 libipmimonitoring-dev,
 hdf5-helpers,
 libfreeipmi-dev,
 libhdf5-dev,
 man2html,
 libcurl4-openssl-dev,
 libpmix-dev [amd64 arm64 mips64el ppc64el riscv64 s390x alpha ia64 loong64 ppc64 sparc64],
 libhttp-parser-dev,
 libyaml-dev,
 libjson-c-dev,
 libjwt-dev,
 liblz4-dev,
 bash-completion,
 libdbus-1-dev,
 librdkafka-dev,
 librocm-smi-dev,
 libnvidia-ml-dev,
 bc,
Standards-Version: 4.7.2
Homepage: http://slurm.schedmd.com
Vcs-Browser: https://salsa.debian.org/hpc-team/slurm-wlm
Vcs-Git: https://salsa.debian.org/hpc-team/slurm-wlm.git

Package: slurm-wlm-nvml-plugin
Section: contrib/libs
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 slurm-wlm-basic-plugins (>= ${upstream:currentVersion}),
 slurm-wlm-basic-plugins (<< ${upstream:nextVersion})
Enhances: slurmd (>= ${upstream:currentVersion})
Description: SLURM NVML plugins
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 .
 This package contains the Nvidia NVML-based SLURM plugin.

Package: slurm-wlm-nvml-plugin-dev
Section: contrib/devel
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 slurm-wlm-basic-plugins-dev (>= ${upstream:currentVersion}),
 slurm-wlm-basic-plugins-dev (<< ${upstream:nextVersion}),
 slurm-wlm-nvml-plugin (>= ${source:Version}),
 libnvidia-ml-dev,
Description: SLURM NVML plugin development files
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 .
 This package contains development files for the Nvidia NVML-based
 SLURM plugins.
