[Unit]
Description=Slurm DBD accounting daemon
After=network.target
ConditionPathExists=/etc/slurm-llnl/slurmdbd.conf

[Service]
Type=forking
EnvironmentFile=/etc/default/slurm-llnl-slurmdbd
ExecStart=/usr/sbin/slurmdbd $SLURMDBD_OPTIONS
PIDFile=/var/run/slurmdbd.pid

[Install]
WantedBy=multi-user.target
